@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.active {
  font-weight: 700;
}
.active span {
  font-weight: 700;
}
.active div {
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  /* Desktop */
}

@media only screen and (max-width: 992px) {
  /* Tablet Landscape*/
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 480px) {
  /* Mobile */
}

@media only screen and (max-width: 320px) {
  /* Mobile Small */
}
